<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erik Plachta | Tech Blog - Concept App</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Tech Blog - Concept App</h1>
  </header>
  <nav>
    <button><a href="/">Home</a></button>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="dashboard" class="btn-no-style">Dashboard</button>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <button><a href="/login">Login</a></button>
    {{/if}}
    <a href="https://github.com/ErikPlachta/blog-app-cloudhosted-mvc-modular" target="_blank">GitHub</a>
  </nav>
  <main>
    {{!-- left bar --}}
    <aside>
      <h3>Activity Feed</h3>
      <div class="popular-posts">
        {{#each posts as |post|}}
          {{> post-stats}}
        {{/each}}
      </div>
    </aside>
    <div class="landing">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for if clicked logout btn -->
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
