<style>  aside, .user-stats, .activity-feed { display: none;  }  </style>


<section class='card'>
  <div>
    <h2>404</h2>
    <p>The page you're looking does not exist.</p>
    
  </div>
</section>
