<style>
  .activity-feed{
    display: block;
  }
</style>

{{#if loggedIn}}
    <section>
        <form class="post-new-post">
          <span class="post">
            <label for="post-title">Title</label>
            <input class="form-input" type="text" id="post-title" minlength="5" required/>
          </span>
          
          <span class="">
            <textarea class="create-post-text" id="post-text" placeholder="What do you want tosay?" minlength="25"></textarea>
            <label for="post-text">
              <button class="btn btn-primary" type="submit">Publish</button>
            </label>
          </span>
        </form>
        
    </section>
{{else}}


{{/if}}

{{!-- build post previews --}}
{{#each posts as |post|}}
    {{> post-preview}}
{{/each}}
