{{!-- Create ne post, here --}}
{{#if loggedIn}}
    <div class="post-new-comment">
        
    </div>
{{/if}}

{{!-- build post previews --}}
{{#each posts as |post|}}
    {{> post-preview}}
{{/each}}
