<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
  .activity-feed{
    display: block;
  }
</style>

{{!-- If logged in, add section containing a form to create new post --}}
{{#if loggedIn}}
  <section id="create-new-post-section">
    {{!-- TODO:: 04/02/2022 #EP || Make this a modal --}}
    <div class="card section-title">
      <h3>Create new Post</h3>
      {{> post-create}}
    </div>
  </section>
{{else}}


{{/if}}

{{!-- Load a preview of all posts into homepage --}}
<section>
  <div class="card section-title">
    <h3>Post Feed</h3>  
    <hr />
    {{#each posts as |post|}}
        {{> post-preview}}
    {{/each}}
   </div>
</section>
