<style>  .user-stats, .activity-feed { display: block;  }  </style>

{{#if loggedIn}}
    {{> post-create}} 
    {{#each users as |user| }}
      {{> feed-user-stats }}
    {{/each}}
    {{!-- element to create posts --}}
{{else}}
  <section>
    <div>
      <h2>User Login Required</h2>
      <p>You must be logged-in to see this page</p>
      <button class="btn btn-praimry">Go to Login Page</button>
    </div>
  </section>
{{/if}}
