<style>  .user-stats, .activity-feed { display: block;  }  </style>

{{#if loggedIn}}
    <section>
      <div class="card">
        <h2>Your Profile</h2>
        {{!--TODO:: 04/03/2022 #EP || Add more content to this placeholder concept --}}
      </div>
    </section>
    {{> post-create}}    
{{else}}
  <section>
    <div>
      <h2>User Login Required</h2>
      <p>You must be logged-in to see this page</p>
      <button class="btn btn-praimry">Go to Login Page</button>
    </div>
  </section>
{{/if}}
