:root {

  /* 
    COLOR PALLET
  */
  --primary: rgb(3, 3, 3);
  /* --primary: rgb(30, 31, 28); */
  --secondary: rgb(26, 26, 27);
  /* --secondary: rgb(39, 40, 34); */
  --tertiary: rgb(39, 39, 41);
  /* --tertiary: rgb(113, 116, 99); */
  --light: rgb(215, 218, 220);
  --light2: rgb(217, 233, 232);
  --light3: rgb(250, 250, 250);
  --quaternary: rgb(128, 130, 131);
  --accent: rgb(0, 121, 211);
  --accent-fade: rgb(0, 121, 211,.8);
  

  --dark: #182c23;
  --error: rgb(228, 46, 1);
  
  /* 
    BODY
  */
  
  --bg_body: var(--primary);
  --bg_Section: var(--secondary);
  

  /* 
    LINKS AND ACTIVE CONTENT LIKE CHECK BOXES
  */
  --active: var(--tertiary);
  --active-hover: var(--secondary);
  

  --text-area_bg: var(--secondary);
  --text-area_text: var(--light);
  
  /*
    BORDERS
  */
  --border: 2px solid var(--tertiary);
  --border-hover: 2px solid var(--quaternary);
  --border-hover_1px: 1px solid var(--quaternary);
  --border-radius: .25rem;

  /*
    SHADOWS / BOX SHADOWS
  */
  --boxShadow: 0 -.5rem .5rem rgba(0,0,0,.25); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_Hover_top_black: 0 -1rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_bottom_accent_Primary: 0 .05rem .5rem var(--primary), 0 6px 20px 0 var(--secondary); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_Hover_top_heavy_bottom_light: 0rem -.4rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
  
  --shadow_025_black:  rgba(0,0,0,.25);
  --shadow_1px_25a: 2px solid var(--shadow_025_black);
}

/*----------------------------------------------------------------------------*/
/* 
  OVERALL CONTENT
*/


html {
  scroll-behavior: smooth;
  
}

*,
*::before
*::after {
  /* Keeps elements from overflowing containers */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--bg_body);
  font-family: Roboto, Arial, sans-serif;  
  /* Prevents cursor from changing from arrow unless explicit */
  cursor: default;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  
  font-size: .9rem;
  /* font: inherit; */
  /* vertical-align: baseline; */
}

/* general hyperlink styling */
a         { color: var(--light); text-decoration: none;}
a:link    { text-decoration: none; }
a:visited { text-decoration: none; color: inherit;}
a:hover   { text-decoration: none; }
a:active  { text-decoration: none; }

h1,h2,h3,h4,h5 {
  /* removing all default padding around headers */
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
}
h2 {
  padding-top: 5rem;
  font-weight: 450;
  font-size: 1.5rem;
}
h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

h4 {
  font-weight: 400;
  font-size: 1.1rem;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
}

/*----------------------------------------------------------------------------*/
/* 
  LAYOUT CONTENT
*/

header {
  background: var(--primary);
  color: var(--light);
  display: flex;
  justify-content: left;
  padding: 1rem;
  vertical-align: bottom;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

header h3 {
  flex: 10%;
  margin: auto;
  transition: transform 200ms; 
  
}
header h3:hover {
  /* cursor: pointer; */
  transform: scale(1.01); 
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  /* margin: auto;  */
  max-width: 1800px;
}

img {
  max-width: 100%;
  height: auto;
}
    

  
/*----------------------------------------------------------------------------*/
/* Main Content Header with Brand-name, etc */

.brand-header{
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 2rem;
  padding: .5rem 0 1rem;
  box-shadow: var(--boxShadow_bottom_accent_Primary);
  z-index: 9999;
  transition: ease-in-out 400ms;
}


.brand-header span{
  padding-left: 3rem;
  display: inline-block;
  margin-top: auto;
  vertical-align: bottom;
  text-decoration: underline;
  /* -moz-text-decoration-color: var(--bg_Section);
  text-decoration-color: var(--bg_Section); */
  -moz-text-decoration-color: var(--accent);
  text-decoration-color: var(--accent);
  text-decoration-thickness: .1rem;
  text-underline-offset: 1px;
  /* transition: all ease-in-out 400ms; */
}

.brand-header img.brand-logo {
  background-color: var(--accent);
  border-radius: 100%;
  display: inline-block;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
  margin-right: 1rem;
  vertical-align: middle;
  padding: .1rem;
}

.brand-header:hover {
  text-decoration: underline;
  -moz-text-decoration-color: var(--accent);
  text-decoration-color: var(--accent);
  text-decoration-thickness: .1rem;
  text-underline-offset: 2px;
}


nav {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--light);
  overflow: hidden;
  transition: ease-in-out 200ms;
}

nav a {
  flex: auto;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--light);
  text-align: center;
  /* transition-delay: .3s;
  transition: color .3s;  */
  border-top: 2px solid var(--accent-fade);
  border-bottom: 2px solid var(--accent-fade);
  transition: all ease-in-out 200ms;
  
}

/* makes sure about is on the far-right */
nav #about{
  max-width: 5%;
}

[data-id="nav"]:hover {
  text-decoration: underline;
  font-weight: bolder;  
}


/*----------------------------------------------------------------------------*/
/* POSTS INLINE FEED For Post Details and when viewing a Post Directly */

.post {
  width: 90%;
  background-color: var(--text-area_bg);
  color: var(--text-area_text);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: var(--boxShadow_bottom_accent_Primary);
  margin: 1rem;
  border-radius: var(--border-radius);
}

.post-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding: 30px 100px;
}

.comment-details-header,
.post-details {
  position: relative;
  /* text-align: center; */
  padding: 10px 20px;
  /* font-weight: bold; */
}

/*----------------------------------------------------------------------------*/
/* POSTS CREATION */

/* Used for creation a new post specifically */
#create-new-post-section{
  /* display: none; */
}

/* Container holding the new-comment on a post creation box */
.post-new-comment {
  margin: 1rem 3rem 1rem 2rem;
  padding: 1rem;
  flex: 0 1 100%;
  
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: auto;
  overflow: hidden;
}

/* Container holding the new-post creation box */
.post-new-post {
  margin: 1rem 2rem 1rem 1rem;
  /* padding: 1rem 1rem; */
  
  padding: .5rem;
  flex: 0 1 100%;
  
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  flex-direction: row;
  vertical-align: middle;
  flex-flow: wrap;
  width: auto;
  overflow: hidden;
}

/* Each Section within post container excluding the button. */
.post-new-post span{
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  flex: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out; 
  align-items: center;
}
.post-new-post span label{
  width: 100%;
  flex: 100%;
   /* centers text in container vertically */
   text-align: center;
  /* display: flex; */
  align-items: center;
  
}

#post-new-post-text,
#post-new-post-title {
  flex: 2 80%;
  margin: .5rem 1rem;
  padding: .75rem;
  min-width: 80%;
  color: white;  
  border: 1px solid #484848;
  border-radius: 0.3rem;
  background-color: var(--tertiary);
  transition: ease-in-out .4s;
}

#post-new-post-text{
  min-height: 5vh;
  resize: vertical;
}

/* Makes label text even brighter */
#new-post-title-label:hover,
#new-post-text-label:hover{
  filter: brightness(110%); 
  text-shadow: 0 0 .05rem rgba(255,255,255, .4);

}

/* When hovering makes title and body brighter */
span.post:hover {
  filter: brightness(120%); 
  
  /* box-shadow: 0 0 .1rem rgba(255,255,255, .4); */
}

#post-new-post-text:focus{
  min-height: 10vh;
}

.post-new-comment:hover .create-post-text  {
  border: var(--border-hover);
}



/*----------------------------------------------------------------------------*/
/* 
  POSTS COMMENTS
*/

section.comment.card{
  padding: 0;
}

.comment-details-header{
  /* display: inline-block; */
  padding: 0;
  width: 100%;
}

#comments{
  /* background-color: red; */
  background-color: transparent;
  border: none;
  width: auto;
}

.delete-post,
.delete-comment{
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.delete-post:hover,
.delete-comment:hover{
  text-shadow: 0 0 .1rem white;

}

.delete-post:before,
.delete-comment:before{
  content: "\274c"; 
}



.post-new-comment img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 1rem;
}

.create-post-text {
  margin: 0 .5rem;
  padding: .25rem 1rem;
  flex: 2;
  color: var(--text-area_text);
  background: var(--active);
  vertical-align: middle;
  border-radius: var(--border-radius);
  border: var(--border);
  vertical-align: middle;
}

.create-post-text:focus, input:focus {
  background: var(--active-hover);
  color: var(--text-area_text);
}

/*----------------------------------------------------------------------------*/
/* 
  ACTIVITY FEED - Left Side
*/

aside {
  /* display: none; */
  padding: 1rem;
  flex: 1;
  background-color: var(--primary);
  margin: 0;
  text-align: center;
  color: var(--light);
}

/* hiding all by default and showing what is needed */
.user-stats,
.activity-feed, 
.post-stats{
  display: none;
}

/*----------------------------------------------------------------------------*/
/* 
  Post Feed
*/

.card-feed {
  margin: .5rem 0;
  /* padding: 1rem 1rem; */
  flex: 0 1 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);
}

.card-feed h5{
  margin: 0 auto;
  padding: 0 .5rem;
  font-size: .9rem;
}

.card-feed-banner {
  text-align: left;
  /* padding: 2rem 0; */
  margin: 2rem 0;
}


.landing {
  flex: 2.5;
  background-color: var(--bg_body);
  padding: 0;
  margin: 0;
  /* display: flex; */ /* Removed flex so cards fit better */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  /* Making sure loads beyond view space */
  min-height: calc(100vh - 48px)
}

/*----------------------------------------------------------------------------*/
/* LOGINS */
.landing{
  width: 100%;
}
.login-section {
  
  max-width: 641px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


.login-card {
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow:hidden;

  transition: ease-in-out 200ms;
  
}

.login-card header {
  padding: 1rem;
  text-align: center;
}

.login-card:hover{
  border: var(--border-hover);
}


.login-card .form-input {
  margin: auto 1rem;
  flex: 70%;
  width: inherit;
  max-width: 400px;
  overflow: hidden;
  align-self: center;
  
}

.form-group {
  margin: 1rem auto;
  display: flex;
  /* justify-content: ; */
  flex-direction: row;
  width: 90%;
  /* margin: auto; */
  
}

/* labels on input */
form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem; 
  flex: 20%;
}

/* input itself */

form .form-input {
  flex: 70%;
  
  align-content: center;  
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: var(--light);
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
  max-width: 400px;
}

form .form-input:not(:placeholder-shown),
form .form-input:focus {
  background-color: var(--light3);
}



form .form-input.form-input-squared {
  border-radius: 0;
}

#btn-user-signup:is(:disabled),
#btn-user-login:is(:disabled),
#post-new-post-button:is(:disabled){
  background-color: lightslategray;
}

#btn-user-signup:not(:disabled),
#post-new-post-button:not(:disabled),
.btn.btn-primary {
  padding: 1rem;
  margin: 1rem auto 0;
  font-size: 1rem;
  font-weight: 550;
  width: 100%;
  border-radius: .3rem;
  background-color: var(--accent);
  color: #d9e9e8;
  transition: ease-in-out 200ms;
  flex: 100%;
}

#btn-user-signup:not(:disabled):hover,
#post-new-post-button:not(:disabled):hover,
.btn.btn-primary:not(:disabled):hover {
  background-color: var(--accent-fade);
  cursor: pointer;
  filter: brightness(90%);
}

/*----------------------------------------------------------------------------*/
/* CARDS */



.card {
  /* margin: .5rem 2rem .5rem 1rem; */
  margin: .5rem 1rem;
  
  padding: 1rem 1rem;
  flex: 0 1 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);
  
  transition: ease-in-out 200ms;
  max-width: 800px;
}

.card:hover, .card-feed:hover {
  border: var(--border-hover);
}

.card a {
  width: 100%;
}

.post-preview{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 0;
}

/* The Link Around the Post Preview on the Homepage */
/* .post-preview a{
  background-color: var(--bg_body);
} */


.card-banner img,
.card-feed-banner img {
  display: inline-block;
  height: 18px;
  margin-right: 4px;
  vertical-align: middle;
  width: 18px;
  padding: .05rem;
}


.card-brand-logo {
  background-color: var(--accent);
  border-radius: 100%;
}

  .card.section-title{
    padding: 0;
    margin: 1rem 0;
    color: white;
    background-color: var(--primary);
    align-items: center;
    text-align: center;
    border: none;
  }

  .card.section-title h3,
  .card.section-title hr{
    width: 40%;
    min-width: 280px;
    margin: auto;
    margin-bottom: .25rem;
  }
  
  

.card-header {
  align-items: center;
  color: var(--text-area_text);
  font-weight: bold;
  /* text-transform: uppercase; */
  margin: 0;
  background-color: var(--bg_Section);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* TODO:: 02/13/2022 #EP || Find out if this is used or delete it */
.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.card-content {
  text-align: left;
  padding: 1rem;
  position:relative;
  line-height: 1.6;
  background-color: var(--bg_body);
  /* border-bottom: 1px solid red; */
}

/* .card-banner, */
.card-footer{
  flex: 100%;
  background-color: var(--bg_Section);
  font-size: .75rem;
  /* margin: .5rem 1rem 0; */
  padding: .25rem;
  min-height: 100%;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

/*----------------------------------------------------------------------------*/
/* MODALS to be used for post */

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}


/*----------------------------------------------------------------------------*/
/* MEDIA TYPES */

@media only screen and (min-width: 1140px) {

  main{
    margin: auto;
  }
  .login-section {
    min-width: 641px;
    max-width: 641px;
  }
}

@media only screen and (min-width: 800px) {
  aside {
    padding: 1rem;
  }
  
  .login-card {
    width: 100%;
    max-width: 641px;
  }

  .post-new-post {
    margin: 1rem 2rem 1rem 1rem;
    padding: .5rem;
    flex: 0 1 100%;
    
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--bg_Section);
    color: var(--text-area_text);
  
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    flex-flow: wrap;
    /* width: auto; */
    overflow: hidden;
  }

  .post-new-post span{
    flex-direction: row;
  }
}


@media only screen and (max-width: 550px) {
  
  aside{
    padding-top: 1rem;
  }
  .card{
    margin: 1rem .5rem;
  }
  [data-id="nav-spacer"] {
    display: none;
  }

  .login-card {
    width: 90%;
    max-width: 641px;
  }  
}

@media only screen and (max-width: 400px) {
  .brand-header h1{
    font-size: 1.5rem;
    padding-top: .5rem;  
  }
  .brand-header span{
    padding-left: 1rem;
  }

  header,
  .card,
  .card.section-title,  
  .card-header,
  main{
    width: 100%;
    flex: 100%;
    padding: 0;
    margin: 0;

  max-width: 100%;
  overflow-x: hidden;
  
  }

  .nav-spacer {
    display:none;
  }
  
  aside,
  .activity-feed,
  section{
    padding-top: 1rem;
  }
  .card {
    margin-top: 1rem;
  }

  /* aside{
    display: none;
  } */

  .login-card {
    width: 90%;
    max-width: 641px;
  }  
}

@media only screen and (max-width: 315px) {

  

}