:root {


  /* 
    COLOR PALLET
  */
  --primary: rgb(3, 3, 3);
  --secondary: rgb(26, 26, 27);
  --tertiary: rgb(39, 39, 41);
  --light: rgb(215, 218, 220);
  --quatrinary: rgb(128, 130, 131);
  --accent: rgb(0, 121, 211);
  

  --dark: #182c23;
  --error: rgb(228, 46, 1);
  
  /* 
    BODY
  */
  --bg_body: var(--primary);
  --bg_Section: var(--secondary);
  

  /* 
    LINKS AND ACTIVE CONTENT LIKE CHECK BOXES
  */
  --active: var(--tertiary);
  --active-hover: var(--secondary);
  

  --text-area_bg: var(--secondary);
  --text-area_text: var(--light);
  
  /*
    BORDERS
  */
  --border: 2px solid var(--tertiary);
  --border-hover: 2px solid var(--quatrinary);
  --border-radius: .25rem;

  /*
    SHADOWS / BOX SHADOWS
  */
  --boxShadow: 0 -.5rem .5rem rgba(0,0,0,.25); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_Hover_top_black: 0 -1rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_bottom_accent_Primary: 0 .05rem .5rem var(--primary), 0 6px 20px 0 var(--secondary); /* offset-x | offset-y | blur-radius | color */
  --boxShadow_Hover_top_heavy_bottom_light: 0rem -.4rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
  
  --shadow_025_black:  rgba(0,0,0,.25);
  --shadow_1px_25a: 2px solid var(--shadow_025_black);
}

/*----------------------------------------------------------------------------*/
/* 
  OVERALL CONTENT
*/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;

}

body {
  box-sizing: border-box;

  font-family: Roboto, Arial, sans-serif;  
  /* Prevents cursor from changing from arrow unless explicit */
  cursor: default;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  /* font: inherit; */
  /* vertical-align: baseline; */
}

/* general hyperlink styling */
a         { color: var(--light); text-decoration: none;}
a:link    { text-decoration: none; }
a:visited { text-decoration: none; color: inherit;}
a:hover   { text-decoration: none; }
a:active  { text-decoration: none; }

h1,h2,h3,h4,h5 {
  /* removing all default padding around headers */
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}
h2 {
  padding-top: 5rem;
  font-weight: 450;
  font-size: 2.5rem;
}
h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

h5 {
  font-weight: 400;
  font-size: 1.1rem;
}

/*----------------------------------------------------------------------------*/
/* 
  LAYOUT CONTENT
*/

header {
  
  background: var(--primary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  vertical-align: bottom;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
header h1 {
  flex: 50%;
}
header h3 {
  flex: 10%;
  margin: auto;
  transition: transform .2s; /* Animation */
  /* border: 1px solid red; */
}
header h3:hover {
  cursor: pointer;
  transform: scale(1.5); 

}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--light);
  overflow: hidden;
}

nav a {
  flex: auto;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--light);
  text-align: center;
  /* transition-delay: .3s;
  transition: color .3s;  */
  transition:ease-in-out .2s;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--light);
  text-decoration: none;
  font-weight: bold;
  transform: scale(1.02);
}

img {
  max-width: 100%;
  height: auto;
}

/*----------------------------------------------------------------------------*/
/* POSTS */

.post {
  width: 90%;
  background-color: var(--text-area_bg);
  color: var(--text-area_text);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: var(--boxShadow_bottom_accent_Primary);
  margin: 1rem;
  border-radius: var(--border-radius);
}

.post-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

.post-details {
  /* text-align: center; */
  padding: 10px 20px;
  /* font-weight: bold; */
}

/*----------------------------------------------------------------------------*/
/* POSTS */




.post-new-comment {
  margin: 1rem 3rem 1rem 2rem;
  padding: 1rem;
  flex: 0 1 100%;
  
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: auto;
  overflow: hidden;
}

.post-new-post {
  margin: 1rem 3rem 1rem 2rem;
  /* padding: 1rem 1rem; */
  padding: .5rem;
  flex: 0 1 100%;
  
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  
  flex-direction: column;
  vertical-align: middle;
  /* flex-flow: row; */
  width: auto;
  overflow: hidden;
}

.post-new-post span {
  flex: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}


.post-new-post span #post-title,
.post-new-post span #post-text {
  flex: 100%;
}

#post-title-label,
#post-title {
  margin: .5rem;
  padding: 1rem;
}

#post-title-label{
  text-align: center;
}

#post-title {
  background-color: var(--tertiary);
  color: white;
}

#post-text{
  min-height: 10vh;
  margin: .5rem;
  flex: 100%;
  resize: vertical;
}

.post-new-comment:hover .create-post-text  {
  border: var(--border-hover);
}

#post-button-homepage{
  border-radius: var(--border-radius);
  background-color: var(--tertiary);
  font-size: 1.25rem;
  color: white;
}

#post-button-homepage:hover {
  background-color: var(--border-hover);
  cursor: pointer;

}


.post-new-comment img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 1rem;
}

.create-post-text {
  margin: 0 .5rem;
  padding: .25rem 1rem;
  flex: 2;
  color: var(--text-area_text);
  background: var(--active);
  vertical-align: middle;
  border-radius: var(--border-radius);
  border: var(--border);
  vertical-align: middle;
}

.create-post-text:focus, input:focus {
  background: var(--active-hover);
  color: var(--text-area_text);
}

/*----------------------------------------------------------------------------*/
/* 
  Left Side
*/

aside {
  flex: 1;
  background-color: var(--primary);
  padding: 1rem 0 1rem 1rem;
  margin: 0;
  text-align: center;
  color: var(--light);
}
.activity-feed, 
.post-stats{
  display: none;
}

/*----------------------------------------------------------------------------*/
/* 
  Post Feed
*/

.card-feed {
  margin: 1rem 0;
  /* padding: 1rem 1rem; */
  flex: 0 1 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);
}

.card-feed h5{
  padding: .5rem;
  font-size: .9rem;
}

.card-feed-banner {
  text-align: left;
  /* padding: 2rem 0; */
  margin: 2rem 0;
}


.landing {
  flex: 4;
  background-color: var(--bg_body);
  padding: 0;
  margin: 0;
  /* display: flex; */ /* Removed flex so cards fit better */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  /* Making sure loads beyond view space */
  min-height: calc(100vh - 48px)
}


.card {
  margin: .5rem 2rem .5rem 1rem;
  padding: 1rem 1rem;
  flex: 0 1 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);
}

.card:hover, .card-feed:hover {
  border: var(--border-hover);
}

.card a {
  width: 100%;
}

.card-banner img,
.card-feed-banner img {
  display: inline-block;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
}

/*----------------------------------------------------------------------------*/
/* LOGINS */

.login-section {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


.login-card {
  text-align: center;
  width: 60%;
  margin: 1rem auto;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--bg_Section);
  color: var(--text-area_text);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow:hidden;

  
}

.login-card header {
  padding: 1rem;
  text-align: center;
}

.login-card:hover{
  border: var(--border-hover);
}


.login-card .form-input {
  margin: auto 1rem;
  flex: 100%;
  width: inherit;
  max-width: 80%;
  overflow: hidden;
  align-self: center;
  
}

.form-group {
  margin: 1rem auto;
  display: flex;
  /* justify-content: ; */
  flex-direction: row;
  width: 90%;
  /* margin: auto; */
  
}

/* labels on input */
form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem; 
}

/* input itself */
form .form-input {
  align-content: center;
  /* width: 70%; */
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form .form-input.form-input-squared {
  border-radius: 0;
}

.btn.btn-primary {
  padding: 1rem;
  margin: 1rem auto 0;
  
  width: 100%;
  background-color: #2d3e50;
  color: #d9e9e8;

  flex: 100%;
}

.btn.btn-primary:hover {
  background-color: #57779a;
}

/*----------------------------------------------------------------------------*/
/* CARDS */

.card header {
  color: var(--text-area_text);
  font-weight: bold;
  /* text-transform: uppercase; */
  margin: 0;
  background-color: var(--bg_Section);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* TODO:: 02/13/2022 #EP || Find out if this is used or delete it */
.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.card-content {
  padding: 0 1rem;
  position:relative;
}

.card-footer{
  flex: 100%;
  margin: .5rem 1rem;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

/*----------------------------------------------------------------------------*/
/* MODALS */

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}